.login-form{
  padding-top: 1em;
  padding-left: 16em;
  padding-right: 16em;
}

.login-title{
  padding-top: 5em;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}

.control-button-login {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: center;
}
.menu-list-a  {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

.main-page{
  background-color: #ECF0F3
}

.justify{
  justify-content: left !important;
}

.margin-top{
  padding-top: 1em;
}

.table-config{
  padding-top: 1em;
  width: 132%;
  margin-left: -14%;
}

.ancho{
  padding-right:18.5em;
}

.bc{
  background-color: white;
}

.scroll {
  height: 240px;
  overflow: scroll !important;
}

.choose-file{
  width: 90%
}

.is-active-row{
  background-color: #eef6fc;
}


@media screen and (min-width: 769px)
.columns:not(.is-desktop) {
    display: flex;
}

@media screen and (min-width: 769px), print
.column.is-9, .column.is-9-tablet {
    flex: none;
    width: 74%;
}

.color-background{
  background: #ECF0F3;
}

.input-questions{
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
    max-width: 100%;
    width: 80%;
    padding: 7px 10px;
    border-radius: 4px;
    border-color: #dbdbdb !important;
    border-left-style: solid;
    border-top-style: solid;
}
