.login-form{
  padding-top: 1em;
  padding-left: 16em;
  padding-right: 16em;
}

.login-title{
  padding-top: 5em;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}

.form-title{
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1%;
}

.control-button-login {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: center;
}
.menu-list-a  {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

.main-page{
  background-color: #ECF0F3
}

.justify{
  justify-content: left !important;
}

.margin-top{
  padding-top: 1em;
}

.table-config{
  padding-top: 1em;
  width: 132%;
  margin-left: -14%;
}

.ancho{
  width: 100%;
}

.bc{
  background-color: white;
}

.scroll {
  height: 240px;
  overflow: scroll !important;
}

.choose-file{
  width: 90%
}

.is-active-row{
  background-color: #eef6fc;
}

.icon-add{
  color: black;
}

.icon-answer{
  color:#90caf9;
}

.icon-close{
  color: red;
}

.display{
  display: inline-block !important;
}

@media screen and (min-width: 769px)
.columns:not(.is-desktop) {
    display: flex;
}

@media screen and (min-width: 769px), print
.column.is-9, .column.is-9-tablet {
    flex: none;
    width: 74%;
}

@media screen and (min-width: 400px) and (max-width: 1024px)
  .row {
      display: block;
 }


@media screen and (min-width: 769px), print
.row {
    display: block;
}

.color-background{
  background: white;
}

.input-questions{
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
    max-width: 100%;
    width: 80%;
    padding: 7px 10px;
    border-radius: 4px;
    border-color: #dbdbdb !important;
    border-left-style: solid;
    border-top-style: solid;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.fontSize{
  font-size: small;
}

.dashboard{
  padding-right: 80px !important;
  padding-left: 80px  !important;
}

.padding-logout{
  padding-bottom: 230%;
}

.paper{
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.avatar{
  margin: 4%;
  background-color: #3298dc !important;
}

.submit-button{
  margin-top: 4% !important;
  color: white !important;
  background-color: #3298dc !important;
  margin-bottom: 3% !important;
}

.form-login{
  width: '100%';
  margin-top: 10%;
}

.configuration-form{
  background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding-top: 1%;
    padding-left: 4%;
    padding-right: 4%;
}

.azul-banner{
  background-color: #3298dc !important;
  color: white !important;
}

.ReactColorPicker-module_hex_value__10kKY{
  width: 85px !important;
}

.image-upload{
  max-width: 185px;
}

.navbar-link:not(.is-arrowless)::after{
  border-color: white !important;
}

.is-active-menu{
   color: white;
  background-color: rgba(0,0,0,.03);
}
